body {
  margin: 0;
}

h1 {
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 30px;
}

h2 {
  border-bottom: 1px solid gray;
  padding: 25px;
  margin: 0;

}

h3 {
  margin-top: 60px;
  font-size: 25px;
}

a {
  color: black;
  text-decoration: none;
}

li {
  margin: 10px;
}

.visit {
  color: purple;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  /* margin-bottom: 4em; */
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#grid ol {
  border-right: 1px solid gray;
  width: 250px;
  padding: 40px 50px 40px 50px;
  margin: 0;
}

#grid {
  display: grid;
  grid-template-columns: 350px 1fr;
}

#contents {
  padding: 40px;
}

#disqus_thread {
  border-top: 1px solid gray;
  padding: 0px 24px 0px 24px;
}

@media(max-width:768px) {
  #grid {
    display: block;
  }

  #grid ol {

    border-right: none;
    height: auto;
    width: auto;
    border-bottom: 1px solid gray;
  }

  h2 {
    text-align: center;
  }

}
